body {
    background-color: beige;
  }
  h1 {
    text-align:center;
    color: #000000;
    font-family: monospace;
    font-size: 35px;
    border: 2px dashed orange;
    background-color:lemonchiffon;
  }
  h2,h3{
    text-align: left;
    color: orange;
    font-family: Arial;
    font-size: 24px;
  }
  p {
    font-family: fantasy;
    font-size: 16px;
    text-align: left;
    color: #000000;
  }
  img {
    border-radius: 50px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    opacity: 1;
  }
  .highlight {
    font-size: 15px;
    font-family: fantasy;
  }
  .sport,.subjects {
    color:rgb(44, 34, 178);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  .sentence {
    font-family: Cambria;
    color: black;
  }