h1 {
    font-family: 'Akaya Telivigala', cursive; 
    text-align: center;
  }
  p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
  }
  body {
    background: linear-gradient(to bottom, hotpink, deepskyblue 80%);
    height: 100vh;
  }
  div {
    height: 200px;
    width: 500px;
    background-color: blue;
  }
  .gif {
    height: 150px;
  }